HolidayReservationSystem/src/META-INF/wsdl/localhost_8080/PartnerWebService/PartnerWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="PartnerWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/PartnerWebService/PartnerWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="viewReservationsByPartnerId">
<part name="parameters" element="tns:viewReservationsByPartnerId"/>
</message>
<message name="viewReservationsByPartnerIdResponse">
<part name="parameters" element="tns:viewReservationsByPartnerIdResponse"/>
</message>
<message name="searchRoom">
<part name="parameters" element="tns:searchRoom"/>
</message>
<message name="searchRoomResponse">
<part name="parameters" element="tns:searchRoomResponse"/>
</message>
<message name="RoomTypeNotFoundException">
<part name="fault" element="tns:RoomTypeNotFoundException"/>
</message>
<message name="InputDataValidationException">
<part name="fault" element="tns:InputDataValidationException"/>
</message>
<message name="reserveNewReservation">
<part name="parameters" element="tns:reserveNewReservation"/>
</message>
<message name="reserveNewReservationResponse">
<part name="parameters" element="tns:reserveNewReservationResponse"/>
</message>
<message name="RoomTypeUnavailableException">
<part name="fault" element="tns:RoomTypeUnavailableException"/>
</message>
<message name="InvalidRoomCountException">
<part name="fault" element="tns:InvalidRoomCountException"/>
</message>
<message name="UnknownPersistenceException">
<part name="fault" element="tns:UnknownPersistenceException"/>
</message>
<message name="retrieveGuestByGuestId">
<part name="parameters" element="tns:retrieveGuestByGuestId"/>
</message>
<message name="retrieveGuestByGuestIdResponse">
<part name="parameters" element="tns:retrieveGuestByGuestIdResponse"/>
</message>
<message name="GuestNotFoundException">
<part name="fault" element="tns:GuestNotFoundException"/>
</message>
<message name="doLogin">
<part name="parameters" element="tns:doLogin"/>
</message>
<message name="doLoginResponse">
<part name="parameters" element="tns:doLoginResponse"/>
</message>
<message name="InvalidLoginCredentialException">
<part name="fault" element="tns:InvalidLoginCredentialException"/>
</message>
<message name="retrievePartnerReservationsByReservationId">
<part name="parameters" element="tns:retrievePartnerReservationsByReservationId"/>
</message>
<message name="retrievePartnerReservationsByReservationIdResponse">
<part name="parameters" element="tns:retrievePartnerReservationsByReservationIdResponse"/>
</message>
<message name="ReservationNotFoundException">
<part name="fault" element="tns:ReservationNotFoundException"/>
</message>
<portType name="PartnerWebService">
<operation name="viewReservationsByPartnerId">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/viewReservationsByPartnerIdRequest" message="tns:viewReservationsByPartnerId"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/viewReservationsByPartnerIdResponse" message="tns:viewReservationsByPartnerIdResponse"/>
</operation>
<operation name="searchRoom">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/searchRoomRequest" message="tns:searchRoom"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/searchRoomResponse" message="tns:searchRoomResponse"/>
<fault message="tns:RoomTypeNotFoundException" name="RoomTypeNotFoundException" wsam:Action="http://ws.session.ejb/PartnerWebService/searchRoom/Fault/RoomTypeNotFoundException"/>
<fault message="tns:InputDataValidationException" name="InputDataValidationException" wsam:Action="http://ws.session.ejb/PartnerWebService/searchRoom/Fault/InputDataValidationException"/>
</operation>
<operation name="reserveNewReservation">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/reserveNewReservationRequest" message="tns:reserveNewReservation"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/reserveNewReservationResponse" message="tns:reserveNewReservationResponse"/>
<fault message="tns:RoomTypeUnavailableException" name="RoomTypeUnavailableException" wsam:Action="http://ws.session.ejb/PartnerWebService/reserveNewReservation/Fault/RoomTypeUnavailableException"/>
<fault message="tns:InvalidRoomCountException" name="InvalidRoomCountException" wsam:Action="http://ws.session.ejb/PartnerWebService/reserveNewReservation/Fault/InvalidRoomCountException"/>
<fault message="tns:InputDataValidationException" name="InputDataValidationException" wsam:Action="http://ws.session.ejb/PartnerWebService/reserveNewReservation/Fault/InputDataValidationException"/>
<fault message="tns:UnknownPersistenceException" name="UnknownPersistenceException" wsam:Action="http://ws.session.ejb/PartnerWebService/reserveNewReservation/Fault/UnknownPersistenceException"/>
</operation>
<operation name="retrieveGuestByGuestId">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveGuestByGuestIdRequest" message="tns:retrieveGuestByGuestId"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveGuestByGuestIdResponse" message="tns:retrieveGuestByGuestIdResponse"/>
<fault message="tns:GuestNotFoundException" name="GuestNotFoundException" wsam:Action="http://ws.session.ejb/PartnerWebService/retrieveGuestByGuestId/Fault/GuestNotFoundException"/>
</operation>
<operation name="doLogin">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/doLoginRequest" message="tns:doLogin"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/doLoginResponse" message="tns:doLoginResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/PartnerWebService/doLogin/Fault/InvalidLoginCredentialException"/>
</operation>
<operation name="retrievePartnerReservationsByReservationId">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/retrievePartnerReservationsByReservationIdRequest" message="tns:retrievePartnerReservationsByReservationId"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/retrievePartnerReservationsByReservationIdResponse" message="tns:retrievePartnerReservationsByReservationIdResponse"/>
<fault message="tns:ReservationNotFoundException" name="ReservationNotFoundException" wsam:Action="http://ws.session.ejb/PartnerWebService/retrievePartnerReservationsByReservationId/Fault/ReservationNotFoundException"/>
</operation>
</portType>
<binding name="PartnerWebServicePortBinding" type="tns:PartnerWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="viewReservationsByPartnerId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchRoom">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RoomTypeNotFoundException">
<soap:fault name="RoomTypeNotFoundException" use="literal"/>
</fault>
<fault name="InputDataValidationException">
<soap:fault name="InputDataValidationException" use="literal"/>
</fault>
</operation>
<operation name="reserveNewReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RoomTypeUnavailableException">
<soap:fault name="RoomTypeUnavailableException" use="literal"/>
</fault>
<fault name="InvalidRoomCountException">
<soap:fault name="InvalidRoomCountException" use="literal"/>
</fault>
<fault name="InputDataValidationException">
<soap:fault name="InputDataValidationException" use="literal"/>
</fault>
<fault name="UnknownPersistenceException">
<soap:fault name="UnknownPersistenceException" use="literal"/>
</fault>
</operation>
<operation name="retrieveGuestByGuestId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="GuestNotFoundException">
<soap:fault name="GuestNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="doLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
</operation>
<operation name="retrievePartnerReservationsByReservationId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ReservationNotFoundException">
<soap:fault name="ReservationNotFoundException" use="literal"/>
</fault>
</operation>
</binding>
<service name="PartnerWebService">
<port name="PartnerWebServicePort" binding="tns:PartnerWebServicePortBinding">
<soap:address location="http://localhost:8080/PartnerWebService/PartnerWebService"/>
</port>
</service>
</definitions>